{% extends "index.html" %}
{% block tab %} Sentiment Analysis API {% endblock %}
{% block title %}
<h1 class="row my-row justify-content-center p-5 mb-0">
    About
</h1>
{% endblock %}
{% block content %}

<div class="container my-container">

    <div class="row my-row m-3 justify-content-center">
        <p class="col-lg-6 col-md-8 my-col text-center mb-0">
            This website utilizes NLP to summarize book reviews and returns a positivity index.
            Data collected is stored in a SQL database for analysis.
        </p>
    </div>

    <div class="row my-row m-3 justify-content-center">
        <p class="col-lg-6 col-md-8 my-col text-center mt-5">
            Please register to enter a review.
        </p>
    </div>

    <div class="row my-row mt-5">
        <div class="col text-center">
            <a href="{{url_for('users.register')}}" class="btn btn-info" role="button">Sign up</a>
        </div>
    </div>

    <div class="row my-row mt-3 mb-3">
      <small class="col text-muted text-center p-0">
        Already Have An Account? <a href="{{ url_for('users.login') }}">Sign In</a>
      </small>
    </div>

</div>

{% endblock %}
